@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&family=Space+Grotesk:wght@300..700&display=swap');
@theme {
  --font-sen: "Sen", sans-serif;
}
